.content-box-first {
  width: 260px;
  height: 200px;
  display: flex;
  margin-bottom: 30px;
  justify-content: space-between;
  background-color: #f18484;
}
.content-box-first .content-box-right {
  background-color: #b2ecda;
  width: 120px;
  height: 170px;
  color: red;
  color: green;
}
.content-box-left {
  background-color: #b2ecda;
  width: 120px;
  height: 170px;
  color: red;
}
.content-box-sec {
  width: 260px;
  height: 200px;
  display: flex;
  justify-content: space-between;
  background-color: #f18484;
  margin-bottom: 30px;
}
.content-box-left .content-box-sec {
  background-color: #8286f8;
  width: 60px;
  height: 170px;
  color: black;
}
.content-box-sec .content-box-right {
  background-color: #8286f8;
  width: 60px;
  height: 170px;
  color: black;
}
.content-box-sec .content-box-son.content-box-left {
  background-color: #c981c1;
  width: 60px;
  height: 170px;
  color: black;
}
.compute .compute-one {
  color: #777777 / 2;
  font-size: 38.79527559px;
}
.scope-box {
  width: 100px;
  height: 100px;
  background-color: #888888;
  text-align: center;
  position: relative;
  margin-top: 40px;
}
.scope-box .scope-inside {
  position: absolute;
  top: 40px;
  left: 25px;
  height: 20px;
  width: 50px;
  color: red;
}
.text-box {
  margin-bottom: 40px;
  margin-left: 40px;
}
.text-box .text-one {
  color: red;
}
.text-box .text-one .text-one-one {
  color: purple;
}
.text-box .text-one:after {
  content: 'text-one文本之后';
  color: black;
}
.text-box :after {
  content: '后代元素之后';
  color: blue;
}
.text-box:after {
  content: '父元素之后';
  color: blue;
}
.text-box .text-two {
  color: #a5d172;
}
a {
  font-size: 32px;
  text-decoration: none;
  margin-bottom: 100px;
}
a:hover {
  color: red;
}
a:link {
  color: blue;
}
a:visited {
  color: green;
}
a:active {
  color: yellow;
}
.box-son {
  width: 120px;
}
